$primary-grey: #e7ddda;
$primary-color: #00827f;
$primary-black: #333333;
$primary-orange: #ff5c21;
$primary-white: #f3f7fb;
$text-secondary: #4a4a57;
$text-invert: #ffffff;
$theme-color: #fafafa;
$background-invert: #222;
$dark-background: #151516;
$subcolor-light: #ffbf69;
$subcolor-dark: #ff9f1c;
$theme-color-dark: #0f424c;
