.sora {
  font-family: 'Sora', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sora-400 {
  font-family: 'Sora', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
