@use './variables' as variables;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  background-color: variables.$theme-color;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

svg {
  height: 100%;
  width: 100%;
}
